/*  ---------------------------------------------------
	Author: Dylan Baumann
	---------------------------------------------------
	---------------------------------------------------
	Table of Contents
	---------------------------------------------------
	:: Custom Fonts
	:: Page / General
	:: Typography
	:: Helper Classes
	------------------------------------------------ */



/*  ---------------------------------------------------
	:: Custom Fonts
	------------------------------------------------ */
	// Calendas Plus Regular is a wonderful, breathtaking font with
	// all of the features your heart has ever desired
	@font-face {
	    font-family: 'calendas';
	    src: url('../fonts/Calendas_Plus.otf');
	    font-weight: normal;
	    font-style: normal;
	}

	// Please note, Italic and Bold are NOT free fonts NOR may you use them
	// if you're interested in using them for personal sites please purchase
	// your own copy from http://calendasplus.com/.
	@font-face {
	    font-family: 'calendas_italic';
	    src: url('../fonts/Calendas_Plus_Italic.otf');
	    font-weight: normal;
	    font-style: normal;
	}
	@font-face {
	    font-family: 'calendas_bold';
	    src: url('../fonts/Calendas_Plus_Bold.otf');
	    font-weight: normal;
	    font-style: normal;
	}




/*  ---------------------------------------------------
	:: Page / General
	------------------------------------------------ */
	html {
		width:100%;
		height:100%;
	}

	body {
		width:100%;
		height:100%;
		padding:0;
		margin:0;
		background: white;
		color:#54585a;
		font-weight:normal;
		font-style:normal;
		line-height:1;
		font-family:'calendas', serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}




/*  ---------------------------------------------------
	:: Typography
	------------------------------------------------ */
	a {
		color: #DEA653;
		text-decoration:none;
		line-height: inherit;

		&:after {
			content:'';
		}
		&:hover,
		&:active,
		&:focus {
			color: inherit;
		}
	}

	/* Default header styles */
	h1, h2, h3, h4, h5, h6 {
		font-family:'calendas', serif;
		font-weight: normal;
		font-style: normal;
		color: #6D6D6D;
		margin-bottom: 10px;
		line-height: 1.2125em;
		font-size: 18px;
		text-rendering: optimizeLegibility; // Surgical Use
	}

	h1 {
		text-transform: uppercase;
		letter-spacing: 2px;
		padding-bottom: 0;
		font-size: 24px;
		font-family:'calendas_bold', serif; // Call true Bolds
	}

	h2 { text-transform: lowecase; } // Smallcaps only work in lowercase

	h3 { font-family:'calendas_italic', serif; } // Call true italics


	/* Default paragraph styles */
	p {
		font-size: 18px;
		line-height: 1.6;
		margin-bottom: 1.25em;
		font-family: inherit;
		font-feature-settings: "frac"; // Enable Fractions
	}

	/* Remove browser defaults and load a real version instead */
	i, em{
		font-style:normal;
		font-family:'calendas_italic', serif;
	}

	b, strong{
		font-style:normal;
		font-weight:normal;
		font-family:'calendas_bold', serif;
	}




/*  ---------------------------------------------------
	:: Helper Classes
	------------------------------------------------ */

	/* use small-cap alternate glyphs */
	.smallcaps, h2 {
		text-transform:lowercase;
		font-feature-settings: "smcp" on;
	}

	.container {
		max-width: 660px;
		margin: 0 auto;
		padding: 0 20px;
	}
